In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
# Importing dataset
df=pd.read_csv(r"C:\Users\saran\Desktop\CRS\data\courses.csv")

In [38]:
df.head(5)

,course_id,course_name,platform,domain,difficulty_level,skills_covered,topics,prerequisites,duration_hours,rating,min_year,min_preparedness_cgpa,career_tags,learning_outcomes,certificate_Available,hands_on_project
0,C001,Python for Data Analysis with Pandas,Coursera,Data Science,Intermediate,Python; Pandas; NumPy; Data Cleaning,DataFrames; Joins; GroupBy; Time Series Basics,Intro Python; Basic statistics,22,4.7,2,7.0,Data Analyst; Business Analyst,Clean and transform real-world datasets; Build...,Yes,Yes
1,C002,Machine Learning Foundations,edX,AI/ML,Beginner,ML Concepts; Model Evaluation; Feature Enginee...,Supervised vs Unsupervised; Bias-Variance; Met...,Linear algebra basics; Python basics,18,4.5,2,7.2,ML Engineer; Data Scientist,Explain core ML workflows; Train baseline mode...,Yes,Yes
2,C003,Deep Learning Specialization: Neural Networks,Coursera,AI/ML,Advanced,TensorFlow; Neural Nets; Optimization; Regular...,Backpropagation; CNNs; RNNs; Hyperparameter Tu...,ML fundamentals; Python; Calculus basics,60,4.8,3,7.8,Deep Learning Engineer; AI Research,Build and tune deep neural networks; Apply DL ...,Yes,Yes
3,C004,SQL for Data Professionals,DataCamp,Data Science,Beginner,SQL; Data Querying; Joins; Aggregations,SELECT; WHERE; GROUP BY; Window Functions,NaN,12,4.6,1,6.5,Data Analyst; BI Analyst,Write efficient queries; Analyze datasets usin...,Yes,Yes
4,C005,Power BI Dashboard Design,Udemy,Business Intelligence,Intermediate,Power BI; DAX; Data Modeling; Visualization,Star Schema; Measures; KPIs; Publishing,Basic Excel; SQL basics (optional),28,4.6,2,6.8,BI Developer; Reporting Analyst,Model data for BI; Build interactive dashboard...,Yes,Yes

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   course_id              50 non-null     object
 1   course_name            50 non-null     object
 2   platform               50 non-null     object
 3   domain                 50 non-null     object
 4   difficulty_level       50 non-null     object
 5   skills_covered         50 non-null     object
 6   topics                 50 non-null     object
 7   prerequisites          37 non-null     object
 8   duration_hours         50 non-null     int64
 9   rating                 50 non-null     float64
 10  min_year               50 non-null     int64
 11  min_preparedness_cgpa  50 non-null     float64
 12  career_tags            50 non-null     object
 13  learning_outcomes      50 non-null     object
 14  certificate_Available  50 non-null     object
 15  hands_on_project       50 non-null     object
dtypes: float64(2), int64(2), object(12)
memory usage: 6.4+ KB

In [40]:
# Replacing ';' --> '|'

cols_to_fix = ['skills_covered','topics','prerequisites','career_tags', 'learning_outcomes']
for i in cols_to_fix:
    df[i]=df[i].str.replace(';','|', regex= 'False')

In [41]:
difficulty_map = {'Beginner':1,'Intermediate' :2 , 'Advanced' : 3}
df['difficulty_num'] = df['difficulty_level'].map(difficulty_map)

In [42]:
df.head()

,course_id,course_name,platform,domain,difficulty_level,skills_covered,topics,prerequisites,duration_hours,rating,min_year,min_preparedness_cgpa,career_tags,learning_outcomes,certificate_Available,hands_on_project,difficulty_num
0,C001,Python for Data Analysis with Pandas,Coursera,Data Science,Intermediate,Python| Pandas| NumPy| Data Cleaning,DataFrames| Joins| GroupBy| Time Series Basics,Intro Python| Basic statistics,22,4.7,2,7.0,Data Analyst| Business Analyst,Clean and transform real-world datasets| Build...,Yes,Yes,2
1,C002,Machine Learning Foundations,edX,AI/ML,Beginner,ML Concepts| Model Evaluation| Feature Enginee...,Supervised vs Unsupervised| Bias-Variance| Met...,Linear algebra basics| Python basics,18,4.5,2,7.2,ML Engineer| Data Scientist,Explain core ML workflows| Train baseline mode...,Yes,Yes,1
2,C003,Deep Learning Specialization: Neural Networks,Coursera,AI/ML,Advanced,TensorFlow| Neural Nets| Optimization| Regular...,Backpropagation| CNNs| RNNs| Hyperparameter Tu...,ML fundamentals| Python| Calculus basics,60,4.8,3,7.8,Deep Learning Engineer| AI Research,Build and tune deep neural networks| Apply DL ...,Yes,Yes,3
3,C004,SQL for Data Professionals,DataCamp,Data Science,Beginner,SQL| Data Querying| Joins| Aggregations,SELECT| WHERE| GROUP BY| Window Functions,NaN,12,4.6,1,6.5,Data Analyst| BI Analyst,Write efficient queries| Analyze datasets usin...,Yes,Yes,1
4,C005,Power BI Dashboard Design,Udemy,Business Intelligence,Intermediate,Power BI| DAX| Data Modeling| Visualization,Star Schema| Measures| KPIs| Publishing,Basic Excel| SQL basics (optional),28,4.6,2,6.8,BI Developer| Reporting Analyst,Model data for BI| Build interactive dashboard...,Yes,Yes,2

In [43]:
list_cols= ['skills_covered','topics','prerequisites','career_tags', 'learning_outcomes']
for i in list_cols:
    df[i]=df[i].str.split('|')

In [51]:
# creating one single(smart) feature
df['combined_features']=df['domain'] +' ' + df['difficulty_level'] + df['skills_covered'].apply(lambda x: ' '.join(x))+ df['topics'].apply(lambda x: ' '.join(x)) + df['career_tags'].apply(lambda x: ' '.join(x))
df['combined_features']

0     Data Science IntermediatePython  Pandas  NumPy...
1     AI/ML BeginnerML Concepts  Model Evaluation  F...
2     AI/ML AdvancedTensorFlow  Neural Nets  Optimiz...
3     Data Science BeginnerSQL  Data Querying  Joins...
4     Business Intelligence IntermediatePower BI  DA...
5     Web Development IntermediateJavaScript  React ...
6     Web Development BeginnerHTML  CSS  Accessibili...
7     Software Engineering BeginnerJava  OOP  Debugg...
8     Software Engineering IntermediateSpring Boot  ...
9     Cloud Computing BeginnerAWS Basics  Cloud Conc...
10    Cloud Computing BeginnerAzure Services  Identi...
11    Cloud Computing IntermediateGCP  Data Pipeline...
12    DevOps IntermediateDocker  Kubernetes  CI/CD C...
13    DevOps BeginnerGitHub Actions  YAML  Testing A...
14    Cybersecurity BeginnerThreats  Networking  Sec...
15    Cybersecurity AdvancedOWASP  Burp Suite  Recon...
16    Software Engineering IntermediateC++  DSA  Com...
17    Software Engineering AdvancedSystem Design  Sc...
18    Product Management BeginnerRoadmapping  User R...
19    Design BeginnerFigma  Prototyping  Design Syst...
20    Mobile Development IntermediateKotlin  Android...
21    Mobile Development IntermediateSwift  SwiftUI ...
22    Data Science BeginnerProbability  Descriptive ...
23    AI/ML IntermediateNLP  Text Preprocessing  Vec...
24    AI/ML IntermediateOpenCV  Image Processing  Fe...
25    Blockchain IntermediateEthereum  Solidity  Sma...
26    Data Engineering AdvancedSpark  PySpark  Distr...
27    AI/ML AdvancedMLOps  Deployment  Monitoring  C...
28    Cybersecurity IntermediateNetwork Security  SI...
29    AI/ML BeginnerPrompting  LLM APIs  EvaluationP...
30    Mobile Development IntermediateJavaScript  Rea...
31    Data Science BeginnerR  Data Wrangling  Visual...
32    Business Intelligence IntermediateTableau  Dat...
33    DevOps BeginnerLinux  Shell  File Permissions ...
34    Networking BeginnerIP Addressing  Routing Basi...
35    Data Science AdvancedRegression  Statistical M...
36    Finance BeginnerFinTech  Risk Basics  Payment ...
37    Marketing BeginnerMarketing Metrics  Google An...
38    Business Intelligence IntermediateExcel  Pivot...
39    Software Engineering IntermediateC#  ASP.NET C...
40    Software Engineering IntermediateGo  Concurren...
41    DevOps IntermediateTerraform  IaC  Cloud Provi...
42    Data Engineering IntermediateSnowflake  SQL  W...
43    Data Engineering AdvancedKafka  Streaming  Pub...
44    Design IntermediateUX Research  Interviewing  ...
45    Project Management BeginnerScrum  Agile  Facil...
46    Emerging Tech AdvancedQuantum Concepts  Qubits...
47    CRM BeginnerSalesforce  CRM  Automation  Repor...
48    Data Science IntermediatePeople Analytics  Pyt...
49    AI/ML IntermediateLangChain  LLM APIs  RAG  Ev...
Name: combined_features, dtype: object

In [47]:
# TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer( stop_words = 'english', ngram_range= (1,2) , max_features = 600)
tfidf_matrix = tfidf.fit_transform(df['combined_features'])

In [48]:
tfidf_matrix.shape

(50, 600)

In [49]:
# What models learned
feature_names= tfidf.get_feature_names_out()

tfidf_df= pd.DataFrame(
    tfidf_matrix.toarray(), columns = feature_names)
tfidf_df.head()

,accessdata engineer,accessibility,accessibility responsive,actions,actions yaml,addressing,addressing routing,admin,admin crm,administrator,...,vs,vs dataframe,vs unsupervised,warehouses,warehouses clustering,warehousing,warehousing data,warehousing etl,web,web development
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.214852,0.0,0.237578,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
tfidf_df.iloc[0].sort_values(ascending=False).head(10)

data                         0.259907
analyst                      0.252364
cleaningdataframes           0.247701
cleaningdataframes joins     0.247701
data cleaningdataframes      0.247701
groupby                      0.247701
groupby time                 0.247701
intermediatepython           0.247701
intermediatepython pandas    0.247701
joins groupby                0.247701
Name: 0, dtype: float64

In [53]:
# cosine similarity 
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix)

In [54]:
cosine_sim.shape

(50, 50)

In [65]:
cosine_sim[2]

array([0.        , 0.14316394, 1.        , 0.        , 0.        ,
       0.00875658, 0.        , 0.00942471, 0.00812853, 0.00797674,
       0.00917262, 0.01486651, 0.01592673, 0.02122211, 0.        ,
       0.01085927, 0.01011252, 0.01055473, 0.06939088, 0.        ,
       0.01030075, 0.01061715, 0.        , 0.18702353, 0.29772647,
       0.00995387, 0.02280076, 0.19146646, 0.00996616, 0.1640737 ,
       0.        , 0.04915498, 0.        , 0.01114043, 0.00899233,
       0.        , 0.        , 0.        , 0.        , 0.00761641,
       0.01839031, 0.02156999, 0.01733639, 0.01866707, 0.10275719,
       0.        , 0.01122216, 0.        , 0.        , 0.1817704 ])

In [58]:
# recommendor system
def recommendor_courses(course_index, top_n=5):
    scores = list(enumerate(cosine_sim[course_index]))
    scores = sorted(scores, key=lambda x: x[1], reverse= True)

    scores =scores[1:top_n+1]
    indices=[i[0] for i in scores]
    return df.iloc[indices]

In [60]:
recommendor_courses(2,5)

,course_id,course_name,platform,domain,difficulty_level,skills_covered,topics,prerequisites,duration_hours,rating,min_year,min_preparedness_cgpa,career_tags,learning_outcomes,certificate_Available,hands_on_project,difficulty_num,combined_features
24,C025,Computer Vision with OpenCV,Udemy,AI/ML,Intermediate,"[OpenCV, Image Processing, Feature Extraction]","[Filtering, Edge Detection, Object Tracking]","[Python, Linear algebra basics]",26,4.3,3,7.3,"[Computer Vision Engineer, AI Engineer]","[Process images and video, Implement classic ...",Yes,Yes,2,AI/ML IntermediateOpenCV Image Processing Fe...
27,C028,MLOps: Model Deployment & Monitoring,Coursera,AI/ML,Advanced,"[MLOps, Deployment, Monitoring, CI/CD]","[Model Serving, Drift Detection, Pipelines, ...","[ML fundamentals, Docker basics]",32,4.5,4,7.8,"[MLOps Engineer, ML Engineer]","[Deploy models reliably, Monitor performance,...",Yes,Yes,3,AI/ML AdvancedMLOps Deployment Monitoring C...
23,C024,Natural Language Processing with Python,DataCamp,AI/ML,Intermediate,"[NLP, Text Preprocessing, Vectorization]","[Tokenization, TF-IDF, Topic Modeling, Word...","[Python, Basic ML]",20,4.5,3,7.4,"[NLP Engineer, Data Scientist]","[Build text pipelines, Train baseline NLP mod...",Yes,Yes,2,AI/ML IntermediateNLP Text Preprocessing Vec...
49,C050,Building LLM Apps with LangChain,DeepLearning.AI,AI/ML,Intermediate,"[LangChain, LLM APIs, RAG, Evaluation]","[Prompt Templates, Retrieval, Agents, Guard...","[Python basics, Prompting basics]",14,4.6,3,7.4,"[AI Engineer, Software Engineer]","[Build RAG pipelines, Connect tools and memor...",Yes,Yes,2,AI/ML IntermediateLangChain LLM APIs RAG Ev...
29,C030,GenAI Prompt Engineering for Developers,DeepLearning.AI,AI/ML,Beginner,"[Prompting, LLM APIs, Evaluation]","[Prompt Patterns, Guardrails, RAG Basics]",[Python basics (helpful)],10,4.6,2,6.8,"[AI Engineer, Software Engineer]","[Design robust prompts, Build small LLM-power...",Yes,Yes,1,AI/ML BeginnerPrompting LLM APIs EvaluationP...